.cart-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* desktop центрира */
}

/* Badge */
.cart-badge {
    position: absolute;
    top: 5px;
    right: 35%;
    background: #ff3b3b;
    color: white;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 50%;
    font-weight: bold;
}

/* MOBILE FIX */
@media (max-width: 991px) {

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }

    .cart-link {
        justify-content: center;
    }

    .cart-badge {
        right: 30%;
    }
}